<header>
    <nav>
        <a href="/">Mymovies</a>
        <ul>
            <li>
                <a href="/authors">Directors</a>
            </li>
            <li>
                <a href="/authors/new">Add Movies</a>
            </li>
        </ul>
    </nav>
</header>